# Ignore all these
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/processed/*
data/raw/raster/*
data/raw/vector/*
data/raw/csv/*
results/
*.out
# Except these files
!data/raw/csv/data_lookup.csv
!data/raw/csv/simulation_list_60000.csv
